.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.containerHome {
  position: relative;
  text-align: center;
}

.containerLeft {
  position: relative;
  text-align: left;
}

.imageScroller {
  display: flex;
  overflow-x: auto;
  height: 35vw;
}

.imageContenStartAndMiddle {
  margin-right: 2vw;
}

.imageScroller::-webkit-scrollbar {
  background: transparent;
}

.logo {
  justify-content: center;
  background-color: black;
}
