:root {
  --window-height: 100vh;
}

.defaultContainer {
  position: relative;
  text-align: center;
}

.leftTextAlignContainer {
  position: relative;
  text-align: left;
}

body {
  overflow-y: hidden;
  overflow-y: overlay;
  overflow-x: hidden;
  width: 100vw;
}

.insideDiv {
  overflow-y: auto;
  overflow-y: overlay;
  overflow-x: hidden;
  margin-top: 64px;
  height: calc(var(--window-height) - 65px);
}

.textSmall {
  font-size: 14px !important;
  font-weight: 700 !important;
}

.textLarge {
  font-size: 20px !important;
  font-weight: 700 !important;
}

.downloadButton {
  width: 270px;
}

.toContact-enter {
  opacity: 0;
  transform: translateY(10vh);
  z-index: 1;
}
.toContact-enter.toContact-enter-active {
  opacity: 1;
  transform: translateY(0);

  transition: opacity 300ms ease-in-out 150ms, transform 300ms ease-in-out 150ms;
}
.toContact-exit {
  opacity: 1;
  transform: translateY(0);
  z-index: 0;
}
.toContact-exit.toContact-exit-active {
  opacity: 0;
  transform: translateY(-2vh);

  transition: opacity 450ms ease-in-out, transform 300ms ease-in-out 150ms;
}
.fromContactToHome-enter {
  opacity: 0;
  transform: translateY(-2vh);
  z-index: 0;
}
.fromContactToHome-enter.fromContactToHome-enter-active {
  opacity: 1;
  transform: translateY(0);

  transition: opacity 300ms ease-in-out 150ms, transform 300ms ease-in-out 150ms;
}
.fromContactToHome-exit {
  opacity: 1;
  transform: translateY(0);
  z-index: 1;
}
.fromContactToHome-exit.fromContactToHome-exit-active {
  opacity: 0;
  transform: translateY(10vh);

  transition: opacity 450ms ease-in-out, transform 300ms ease-in-out 150ms;
}

.to404-enter {
  opacity: 0;
  transform: translateY(-10vh);
  z-index: 1;
}
.to404-enter.to404-enter-active {
  opacity: 1;
  transform: translateY(0);

  transition: opacity 300ms ease-in-out 150ms, transform 300ms ease-in-out 150ms;
}
.to404-exit {
  opacity: 1;
  transform: translateY(0);
  z-index: 0;
}
.to404-exit.to404-exit-active {
  opacity: 0;
  transform: translateY(2vh);

  transition: opacity 450ms ease-in-out, transform 300ms ease-in-out 150ms;
}
.from404ToHome-enter {
  opacity: 0;
  transform: translateY(2vh);
  z-index: 0;
}
.from404ToHome-enter.from404ToHome-enter-active {
  opacity: 1;
  transform: translateY(0);

  transition: opacity 300ms ease-in-out 150ms, transform 300ms ease-in-out 150ms;
}
.from404ToHome-exit {
  opacity: 1;
  transform: translateY(0);
  z-index: 1;
}
.from404ToHome-exit.from404ToHome-exit-active {
  opacity: 0;
  transform: translateY(-10vh);

  transition: opacity 450ms ease-in-out, transform 300ms ease-in-out 150ms;
}

.toME-enter {
  opacity: 0;
  transform: translateX(-10vw);
  z-index: 1;
}
.toME-enter.toME-enter-active {
  opacity: 1;
  transform: translateX(0);

  transition: opacity 300ms ease-in-out 150ms, transform 300ms ease-in-out 150ms;
}
.toME-exit {
  opacity: 1;
  transform: translateX(0);
  z-index: 0;
}
.toME-exit.toME-exit-active {
  opacity: 0;
  transform: translateX(2vw);

  transition: opacity 450ms ease-in-out, transform 300ms ease-in-out 150ms;
}
.fromMEToHome-enter {
  opacity: 0;
  transform: translateX(2vw);
  z-index: 0;
}
.fromMEToHome-enter.fromMEToHome-enter-active {
  opacity: 1;
  transform: translateX(0);

  transition: opacity 300ms ease-in-out 150ms, transform 300ms ease-in-out 150ms;
}
.fromMEToHome-exit {
  opacity: 1;
  transform: translateX(0);
  z-index: 1;
}
.fromMEToHome-exit.fromMEToHome-exit-active {
  opacity: 0;
  transform: translateX(-10vw);

  transition: opacity 450ms ease-in-out, transform 300ms ease-in-out 150ms;
}

.toWG-enter {
  opacity: 0;
  transform: translateX(10vw);
  z-index: 1;
}
.toWG-enter.toWG-enter-active {
  opacity: 1;
  transform: translateX(0);

  transition: opacity 300ms ease-in-out 150ms, transform 300ms ease-in-out 150ms;
}
.toWG-exit {
  opacity: 1;
  transform: translateX(0);
  z-index: 0;
}
.toWG-exit.toWG-exit-active {
  opacity: 0;
  transform: translateX(-2vw);

  transition: opacity 450ms ease-in-out, transform 300ms ease-in-out 150ms;
}
.fromWGToHome-enter {
  opacity: 0;
  transform: translateX(-2vw);
  z-index: 0;
}
.fromWGToHome-enter.fromWGToHome-enter-active {
  opacity: 1;
  transform: translateX(0);

  transition: opacity 300ms ease-in-out 150ms, transform 300ms ease-in-out 150ms;
}
.fromWGToHome-exit {
  opacity: 1;
  transform: translateX(0);
  z-index: 1;
}
.fromWGToHome-exit.fromWGToHome-exit-active {
  opacity: 0;
  transform: translateX(10vw);

  transition: opacity 450ms ease-in-out, transform 300ms ease-in-out 150ms;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}
