.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.containerHome {
  position: relative;
  text-align: center;
}

.containerLeft {
  position: relative;
  text-align: left;
}

@media screen and (min-width: 940px) {
  .homeText {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 940px) {
  .homeText {
    margin-left: 20px;
    margin-right: 20px;
  }
}

body {
  overflow-y: auto;
  overflow-y: overlay;
  overflow-x: hidden;
}

.imageScroller {
  display: flex;
  overflow-x: auto;
  overflow-x: overlay;
  height: 35vw;
  border-radius: 5px;
}

.imageScroller::-webkit-scrollbar {
  background: transparent;
  height: 17px;
  min-height: 17px;
}

.imageScroller::-webkit-scrollbar-thumb {
  background-color: #00000000;
  border: 4px solid transparent;
  border-radius: 24px;
  box-shadow: 8px 0px 0px 8px #ffffff30 inset;
}

.imageScroller::-webkit-scrollbar-thumb:hover {
  background-color: #00000000;
  border: 4px solid transparent;
  border-radius: 24px;
  box-shadow: 8px 0px 0px 8px #ffffff60 inset;
}

.imageScrollerMobile {
  display: flex;
  overflow-x: auto;
  overflow-x: overlay;
  height: 35vw;
  border-radius: 5px;
}

.imageScrollerMobile::-webkit-scrollbar {
  display: none;
}

.imageContentStartAndMiddle {
  margin-right: 2vw;
}

.mui-fixed {
  justify-content: center;
}

@media screen and (min-width: 450px) {
  .BannerLogo {
    height: 120px;
  }
}
@media screen and (max-width: 450px) {
  .BannerLogo {
    height: 27vw;
  }
}

@media screen and (min-width: 450px) {
  .TopPaddingHome {
    padding-top: 90px;
  }
}
@media screen and (max-width: 450px) {
  .TopPaddingHome {
    padding-top: 20vw;
  }
}

.slideIn {
  animation: 0.7s slideIn forwards;
  animation-timing-function: cubic-bezier(0, 0, 0.3, 1);
}

.slideOut {
  animation: 0.7s slideOut forwards;
  animation-timing-function: cubic-bezier(0.7, 0, 1, 1);
}

.slideInComp {
  animation: 0.7s slideInComp forwards;
  animation-timing-function: ease-out;
}

.slideOutComp {
  animation: 0.7s slideOutComp forwards;
  animation-timing-function: ease-in;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.9);
  }
}

@keyframes slideInComp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideOutComp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

li {
  list-style-type: disc;
}

img.Banner {
  filter: drop-shadow(0px 2.5px 2px rgb(0 0 0 / 0.35));
  border-radius: 10px;
  transition: filter 0.5s;
}

img.Banner:hover {
  filter: drop-shadow(0px 5px 4px rgb(0 0 0 / 0.35));
  transition: filter 0.5s;
}

@media screen and (min-width: 387px) {
  img.Banner {
    width: 300px;
  }
}
@media screen and (max-width: 387px) {
  img.Banner {
    width: 77.5vw;
  }
}

@media screen and (min-width: 387px) {
  .HomeButton {
    width: 300px;
  }
}
@media screen and (max-width: 387px) {
  .HomeButton {
    width: 77.5vw;
  }
}

@media screen and (min-width: 880px) and (max-width: 921px) {
  .HomePaperGerman {
    height: 499px;
  }
}
@media screen and (min-width: 921px) and (max-width: 1198px) {
  .HomePaperGerman {
    height: 477px;
  }
}
@media screen and (min-width: 1198px) {
  .HomePaperGerman {
    height: 455px;
  }
}

@media screen and (min-width: 880px) and (max-width: 1085px) {
  .HomePaperEnglish {
    height: 477px;
  }
}
@media screen and (min-width: 1085px) {
  .HomePaperEnglish {
    height: 455px;
  }
}

img.imageContentStartAndMiddle {
  border-radius: 5px;
}

img.imageContentEnd {
  border-radius: 5px;
}

.downloadButton {
  width: 270px;
}

.MuiSelect-icon {
  transition: transform 0.3s !important;
}

.containerForm {
  position: relative;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .containerForm {
    width: 90vw !important;
  }
}
@media screen and (min-width: 900px) {
  .containerForm {
    width: 820px !important;
  }
}
