.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.containerHome {
  position: relative;
  text-align: center;
}

.linkWrapper {
  width: fit-content;
}

.containerLeft {
  position: relative;
  text-align: left;
}

body {
  overflow-y: auto;
  overflow-y: overlay;
}

body::-webkit-scrollbar {
  background: transparent;
  min-height: 24;
}

body::-webkit-scrollbar-thumb {
  background-color: #00000000;
  border: 4px solid transparent;
  border-radius: 24px;
  box-shadow: 8px 0px 0px 8px #ffffff inset;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #00000000;
  border: 4px solid transparent;
  border-radius: 24px;
  box-shadow: 8px 0px 0px 8px #808080 inset;
}

.imageScroller {
  display: flex;
  overflow-x: auto;
  overflow-x: overlay;
  height: 35vw;
  border-radius: 5px;
  scrollbar-color: white transparent;
}

.imageScroller::-webkit-scrollbar {
  background: transparent;
}

.imageScroller::-webkit-scrollbar-thumb {
  background-color: #00000000;
  border: 4px solid transparent;
  border-radius: 24px;
  box-shadow: 8px 0px 0px 8px #ffffff30 inset;
}

.imageScroller::-webkit-scrollbar-thumb:hover {
  background-color: #00000000;
  border: 4px solid transparent;
  border-radius: 24px;
  box-shadow: 8px 0px 0px 8px #ffffff60 inset;
}

.imageContenStartAndMiddle {
  margin-right: 2vw;
}

.mui-fixed {
  justify-content: center;
}

.slideIn {
  animation: 0.3s slideIn forwards;
}

.slideOut {
  animation: 0.3s slideOut forwards;
}

.slideInCompatibility {
  animation: 0.3s slideInCompatibility forwards;
}

.slideOutCompatibility {
  animation: 0.3s slideOutCompatibility forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    filter: blur(10px);
  }
  to {
    opacity: 1;
    filter: blur(0px);
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    filter: blur(0px);
  }
  to {
    opacity: 0;
    filter: blur(10px);
  }
}

@keyframes slideInCompatibility {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideOutCompatibility {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

li {
  list-style-type: disc;
}

img.Banner {
  filter: drop-shadow(0px 2.5px 2px rgb(0 0 0 / 0.35));
  border-radius: 10px;
  transition: filter 0.5s;
}

img.Banner:hover {
  filter: drop-shadow(0px 5px 4px rgb(0 0 0 / 0.35));
  transition: filter 0.5s;
}

@media screen and (min-width: 387px) {
  img.Banner {
    width: 300px;
  }
}
@media screen and (max-width: 387px) {
  img.Banner {
    width: 77.5vw;
  }
}

@media screen and (min-width: 387px) {
  .HomeButton {
    width: 300px;
  }
}
@media screen and (max-width: 387px) {
  .HomeButton {
    width: 77.5vw;
  }
}

@media screen and (min-width: 880px) {
  .HomePaper {
    height: 485px;
  }
}

img.imageContenStartAndMiddle {
  border-radius: 5px;
}

img.imageContentEnd {
  border-radius: 5px;
}

.blurBackgroundOpened {
  backdrop-filter: blur(10px);
  transition: backdrop-filter 0.3s;
}

.blurBackgroundClosed {
  backdrop-filter: blur(0px);
  transition: backdrop-filter 0.3s;
}
