.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.containerHome {
  position: relative;
  text-align: center;
}

.linkWrapper {
  width: fit-content;
}

.containerLeft {
  position: relative;
  text-align: left;
}

.imageScroller {
  display: flex;
  overflow-x: auto;
  height: 35vw;
}

.imageContenStartAndMiddle {
  margin-right: 2vw;
}

.imageScroller::-webkit-scrollbar {
  background: transparent;
}

.imageScroller::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border: 3px solid #252525;
}

.mui-fixed {
  justify-content: center;
}

.slideIn {
  animation: 0.3s slideIn forwards;
}

.slideOut {
  animation: 0.6s slideOut forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

li {
  list-style-type: disc;
}
