.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.containerHome {
  position: relative;
  text-align: center;
}

.linkWrapper {
  width: fit-content;
}

.containerLeft {
  position: relative;
  text-align: left;
}

.imageScroller {
  display: flex;
  overflow-x: auto;
  overflow-x: overlay;
  height: 35vw;
  border-radius: 5px;
  scrollbar-color: white transparent;
}

.imageScroller::-webkit-scrollbar {
  background: transparent;
}

.imageScroller::-webkit-scrollbar-thumb {
  background-color: #00000000;
  border: 4px solid transparent;
  border-radius: 24px;
  box-shadow: 8px 0px 0px 8px #ffffff30 inset;
}

.imageScroller::-webkit-scrollbar-thumb:hover {
  background-color: #00000000;
  border: 4px solid transparent;
  border-radius: 24px;
  box-shadow: 8px 0px 0px 8px #ffffff60 inset;
}

.imageContenStartAndMiddle {
  margin-right: 2vw;
}

.mui-fixed {
  justify-content: center;
}

.slideIn {
  animation: 0.3s slideIn forwards;
}

.slideOut {
  animation: 0.6s slideOut forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

li {
  list-style-type: disc;
}

img.Banner {
  filter: drop-shadow(0px 2.5px 2px rgb(0 0 0 / 0.25));
  border-radius: 10px;
}

img.imageContenStartAndMiddle {
  border-radius: 5px;
}

img.imageContentEnd {
  border-radius: 5px;
}
