.defaultContainer {
  position: relative;
  text-align: center;
}

.leftTextAlignContainer {
  position: relative;
  text-align: left;
}

body {
  overflow-y: auto;
  overflow-y: overlay;
  overflow-x: hidden;
}

.slideIn {
  animation: 0.7s slideIn forwards;
  animation-timing-function: cubic-bezier(0, 0, 0.3, 1);
}

.slideOut {
  animation: 0.7s slideOut forwards;
  animation-timing-function: cubic-bezier(0.7, 0, 1, 1);
}

.slideInComp {
  animation: 0.7s slideInComp forwards;
  animation-timing-function: ease-out;
}

.slideOutComp {
  animation: 0.7s slideOutComp forwards;
  animation-timing-function: ease-in;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.9);
  }
}

@keyframes slideInComp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideOutComp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.textSmall {
  font-size: 14px !important;
  font-weight: 700 !important;
}

.textLarge {
  font-size: 20px !important;
  font-weight: 700 !important;
}

li {
  list-style-type: disc;
}

.downloadButton {
  width: 270px;
}

.MuiSelect-icon {
  transition: transform 0.3s !important;
}
