.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.container {
  height: calc(100vh - 56px);
  width: 450px;
  top: 400px;
  position: relative;
  text-align: center;
}

.logo {
  margin: auto;
}